{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-4 center-align">Add Task</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!-- task name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix teal-text"></i>
                <input name="task_name" id="task_name" minlength="3" maxlength="50" type="text" class="validate" required>
                <label for="task_name">Task Name</label>
            </div>
        </div>
         <!-- task_description -->
         <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix teal-text"></i>
                <textarea name="task_description" id="task_description" minlength="3" maxlength="200" type="text" 
                class="materialize-textarea validate" required></textarea>
                <label for="task_description">Task Description</label>
            </div>
        </div>
          <!-- due_date -->
          <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix teal-text"></i>
                <input name="due_date" id="due_date" minlength="3" maxlength="50" type="text" class="datepicker validate" required>
                <label for="due_date">Due Date</label>
            </div>
        </div>
         <!-- is_urgent -->
         <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix teal-text"></i>
                    <label for="is_urgent">
                        <input name="is_urgent" id="is_urgent" type="checkbox">
                        <span class="lever"></span>
                        Is Urgent
                    </label>
                </div>
            </div>
        </div>
        <!-- category_id -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix teal-text"></i>
                <select name="category_id" id="category_id" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_id">Task Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="center-align col s12">
                <button type="submit" class="btn-large teal darken-1">
                    Add Task <i class="fas fa-tasks right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>

{% endblock %}